<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>La Union Henio</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/the-big-picture.css" rel="stylesheet">
	
	<style type="text/css">
	
		#wrapper {
			margin-top: 5%;
		}
	
	</style>

  </head>

  <body ng-app="panel" ng-controller="panelCtrl">
	<div id="wrapper">
		<div class="row no-gutters">
			<div class="col">
				<form class="form-inline">
					<div class="form-group mx-sm-3">
						<label>Time&nbsp;</label>
						<input type="text" class="form-control" ng-model="time">
					</div>						
					<button type="button" class="btn btn-primary" ng-click="panelModule.set(this);">Set</button>&nbsp;
					<button type="button" class="btn btn-primary" ng-click="panelModule.reset(this);">Reset</button>&nbsp;
					<button type="button" class="btn btn-primary" ng-click="panelModule.start(this);">Start</button>&nbsp;			
					<button type="button" class="btn btn-primary" ng-click="panelModule.stop(this);">Stop</button>&nbsp;
					<button type="button" class="btn btn-primary" ng-click="panelModule.monitor(this);">Monitor</button>					
				</form>
			</div>
			<div class="col">
				<form class="form-inline">
					<div class="form-group mx-sm-3">
						<label>Answer&nbsp;</label>
						<input type="text" class="form-control" ng-model="answer">
					</div>							
					<button type="button" class="btn btn-primary" ng-click="panelModule.showAnswer(this);">Show Answer</button>&nbsp;		
					<button type="button" class="btn btn-primary" ng-click="panelModule.hideAnswer(this);">Hide Answer</button>						
				</form>
			</div>
		</div>		
	</div>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="angularjs/angular.min.js"></script>
	
	<script type="text/javascript">
		
		var app = angular.module('panel',[]);
		
		app.factory('panelModule',function($http,$timeout) {
			
			function panel() {
			
				var self = this;
				
				self.data = function(scope) {
					
					scope.time = '02:00.00';
					localStorage.countDownInit = scope.time;
					localStorage.countUpInit = '00:00.00';
					localStorage.countDown = localStorage.countDownInit;
					localStorage.countUp = localStorage.countUpInit;
					localStorage.timer = 'stop';
					localStorage.answer = '';
					localStorage.showAnswer = false;
				
				};
				
				self.monitor = function(scope) {
					window.open("monitor.html","_blank","");
				};
				
				self.start = function(scope) {
				
					localStorage.timer = 'start';
					console.log(localStorage.timer);					
				
				};
				
				self.stop = function(scope) {
				
					localStorage.timer = 'stop';
					console.log(localStorage.timer);
				
				};

				self.set = function(scope) {

					localStorage.countDownInit = scope.time;
					self.reset(scope);
					
				};				
				
				self.reset = function(scope) {

					localStorage.timer = 'reset';
					localStorage.answer = '';
					scope.answer = localStorage.answer;			
					console.log(localStorage.timer);
				
				};
				
				self.showAnswer = function(scope) {
				
					localStorage.answer = scope.answer;
					localStorage.showAnswer = 'show';
				
				};
				
				self.hideAnswer = function(scope) {

					localStorage.answer = scope.answer;				
					localStorage.showAnswer = 'hide';					
				
				};				
				
				self.list = function(scope) {

				};
			
			}
			
			return new panel();
			
		});
		
		app.controller('panelCtrl',function($scope,panelModule) {
			
			panelModule.data($scope);
			
			$scope.panelModule = panelModule;
		
		});
		
	</script>

  </body>

</html>
