<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>La Union Henio</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/the-big-picture.css" rel="stylesheet">
	
	<style type="text/css">
	
		#wrapper {
			margin-top: 5%;
		}
	
	</style>

  </head>

  <body ng-app="panel" ng-controller="panelCtrl">
	<div id="wrapper">
		
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div id="panel">
						<button type="button" class="btn btn-primary" ng-click="panelModule.monitor(this);">Monitor</button>					
					</div>
				</div>
				<div class="col-lg-6">
					<h3>Logs</h3>
					<table class="table table-bordered table-striped">
						<thead>
							<tr><th>No</th><th>Time Remaning</th><th>Time Elapsed</th></tr>
						</thead>
						<tbody>
							<tr ng-repeat="log in logs"><td></td><td></td><td></td></tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		
	</div>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="angularjs/angular.min.js"></script>
	
	<script type="text/javascript">
		
		var app = angular.module('panel',[]);
		
		app.factory('panelModule',function($http) {
			
			function panel() {
			
				var self = this;
				
				self.data = function(scope) {
				
				};
				
				self.monitor = function(scope) {
					window.open("monitor.html","_blank","");
				};
				
				self.list = function(scope) {
				

				
				};
			
			}
			
			return new panel();
			
		});
		
		app.controller('panelCtrl',function($scope,panelModule) {
			
			panelModule.data(scope);
			
			$scope.panelModule = panelModule;
		
		});
		
	</script>

  </body>

</html>
